.container{
    width: 920px;  
    margin: 0 auto;
}
#encabezado {
    height: 150px;
    background-color: red;
}

#barra-navegacion {
    height: 50px;
    background-color: darkcyan;
}

#notas-secundarias {
    float: left;
    height: 260px;
    width: 660px;
    padding: 20px;
    background-color: fuchsia;
}

#nota-principal {
    height: 300px;
    background-color: coral;
}

#publicidad {
    width: 200px;
    height: 280px;
    padding: 10px;
    float: right;
    background-color: chartreuse;
}

#pie {
    height: 150px;
    background-color:
    blueviolet;
    clear: both;
}
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
#logo-sep {
    margin-top: 31px;
    float: left;
}


#titulos {
    padding-left: 310px;
}
#titulos h1{
    font-size: 1.5em;
}
#titulos *{
    display: inline-block;
    
    margin: 0;
    padding: 0;
}
