.container{
    width: 920px;  
    margin: 0 auto;
}
/*Encabezado inicio*/
#encabezado {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#encabezado figure, #titulos {
    margin: 0;
}

#titulos h1 {font-size: 1.5em}
#titulos h2 {font-size: 1.2em}
#titulos h3 {font-size: 0.9em}
#titulos h4 {font-size: 0.8em}
/*Encabezado fin*/

/*Navegacion Inicio*/
#barra-navegacion {
    height: 50px;
    display: flex;
    justify-content: center;
    
}

#barra-navegacion > ul{
 
}

#barra-navegacion li{
    display: inline-block;
    padding: 0;
}

#barra-navegacion ul{
    padding: 0;
}

#barra-navegacion a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.5s;
}

#barra-navegacion ul ul{
    display: none;
}

#barra-navegacion > ul > li >a:hover{
    background-color: blue;
    color: white;
}
/*Navegacion fin*/

#notas-secundarias {
    float: left;
    height: 260px;
    width: 660px;
    padding: 20px;
    background-color: fuchsia;
}

#nota-principal {
    height: 300px;
    background-color: coral;
}

#publicidad {
    width: 200px;
    height: 280px;
    padding: 10px;
    float: right;
    background-color: chartreuse;
}

#pie {
    height: 150px;
    background-color:
    blueviolet;
    clear: both;
}
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
#nota-principal{
    border: 5px solid rgb(219, 220, 244);
    box-shadow: 0 0 10px #4d4848;
}
/*#logo-sep {
    margin-top: 31px;
    float: left;
}


#titulos {
    padding-left: 310px;
}
#titulos h1{
    font-size: 1.5em;
}
#titulos *{
    display: inline-block;
    
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    background-color: chocolate;
    padding: 10px;
}

nav a{
    background-color: chocolate;
}
nav a:hover{
    background-color: green;
}*/
